<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h2 class="font-weight-light">New Sprint</h2>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-vertical-stepper [linear]="true">
      <mat-step [stepControl]="sprintDetailsFormGroup" label="Sprint Name & Timelines">
        <form [formGroup]="sprintDetailsFormGroup">
          <div class="row">
            <mat-form-field class="col-lg-4">
              <mat-label>{{SprintName.LabelName}}</mat-label>
              <input matInput formControlName="SprintName">
              <mat-error>{{SprintName.ErrorMessage()}}</mat-error>
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field class="col-lg-4">
              <input matInput [matDatepicker]="startDate" [matDatepickerFilter]="dateFilter" placeholder="{{SprintStartDate.LabelName}}"
                formControlName="SprintStartDate">
              <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
              <mat-datepicker #startDate></mat-datepicker>
              <mat-error>{{SprintStartDate.ErrorMessage()}}</mat-error>
            </mat-form-field>
            <mat-form-field class="col-lg-4">
              <input matInput [matDatepicker]="endDate" [matDatepickerFilter]="dateFilter" placeholder="{{SprintEndDate.LabelName}}"
                formControlName="SprintEndDate">
              <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
              <mat-datepicker #endDate></mat-datepicker>
              <mat-error>{{SprintEndDate.ErrorMessage()}}</mat-error>
            </mat-form-field>
          </div>
          <button mat-button class="btn btn-sm btn-primary" matStepperNext (click)="SetSprintTimeline()">NEXT</button>
        </form>
      </mat-step>
      <mat-step [stepControl]="teamDetailsFormGroup" label="Team Members">
        <form [formGroup]="teamDetailsFormGroup">
          <div class=" row">
            <mat-form-field class="col-lg-6">
              <mat-chip-list #chipList>
                <mat-chip *ngFor="let member of SelectedMembers" [selectable]="true" [removable]="true" (removed)="DeselectMember(member)">
                  {{member.Name}}
                  <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>
              </mat-chip-list>
              <mat-label>{{TeamMemberSelector.LabelName}}</mat-label>
              <input matInput #memberInput formControlName="TeamMemberSelector" [matAutocomplete]="auto"
                [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="SeparatorKeysCodes">
              <mat-error>{{TeamMemberSelector.ErrorMessage()}}</mat-error>
              <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="DisplayMemberName"
                (optionSelected)="OptionSelected($event)">
                <mat-option *ngFor="let member of MemberCollection | async" [value]="member">
                  <span>{{member.Name}}</span>
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
          <button mat-button class="btn btn-sm btn-primary" matStepperNext (click)="SetSelectedMembers()" type="submit">NEXT</button>
        </form>
      </mat-step>
      <mat-step label="Team Availability">
        <form [formGroup]="availabilityFormGroup">
          <mat-table [dataSource]="TeamAvailabilityModel">
            <ng-container matColumnDef="Name">
              <th mat-header-cell *matHeaderCellDef>Member Name</th>
              <td mat-cell *matCellDef="let element"> {{element.Member.Name}} </td>
            </ng-container>

            <div *ngFor="let date of Dates">
              <ng-container matColumnDef="{{date}}">
                <th mat-header-cell *matHeaderCellDef>{{date}}</th>
                <td mat-cell *matCellDef="let element"> {{element.AvailabilityData[date]}} </td>
              </ng-container>
            </div>

            <tr mat-header-row *matHeaderRowDef="Dates"></tr>
            <tr mat-row *matRowDef="let row; columns: Dates"></tr>
          </mat-table>

          <!-- <div class="scrolling-wrapper-flexbox">
            <div class="card"></div>
            <div *ngFor="let date of TimelineEvents" class="col-lg-1">{{date.Date.toDateString()}}</div>
          </div>
          <div *ngFor="let modelElement of TeamAvailabilityModel" class="row scrolling-wrapper-flexbox">
            <div class="card">{{modelElement.Member.Name}}</div>
            <div *ngFor="let availability of modelElement.AvailabilityData" class="col-lg-1"></div>
          </div> -->
        </form>
      </mat-step>
    </mat-vertical-stepper>
  </mat-card-content>
</mat-card>
